{% extends "base_admin.html" %}
{% load static %}
{% load user_tags %} 
{% block title %} Principal {% endblock %}
{% block contend %}


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3 pt-2 mb-4 pb-4 ">
  {% if request.user|has_group:"administrador"%}
    <div class="col">
      <div class="h-100 p-3 bg-body-tertiary border rounded-3">
        <h2>Usuarios</h2>
        <div class="mb-2 flex justify-content-center w-100">
        <img src="{% static "img/users.svg" %}" height="250" width="100%"/>
        </div>
        <p>Administre los usuarios del sistema, incluyendo permisos e información personal.</p>
        <div class="d-flex justify-content-end">
          <a href="{% url "admin_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        
      </div>
    </div>
    
      {% endif %}
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Clientes</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/customers.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestione todos sus clientes.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "customer_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Destinatarios</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/addressees.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestionar destinatarios de sus clientes.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "addressee_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Paquetes</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/packages.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestionar destinatarios de sus clientes.</p>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Reportes</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/reports.svg" %}" height="250" width="100%"/>
          </div>
          <p>Reportes de las entregas realizadas.</p>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      

  </div>
  
  
 
{% endblock contend %}

        
