{% extends "base_admin.html" %}
{% load static %}
{% load user_tags %} 
{% block title %} Principal {% endblock %}
{% block contend %}


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3 pt-2 mb-4 pb-4 ">
      {% if request.user|has_group:"administrador"%}
        <div class="col">
          <div class="h-100 p-3 bg-body-tertiary border rounded-3">
            <h2>Usuarios</h2>
            <div class="mb-2 flex justify-content-center w-100">
            <img src="{% static "img/users.svg" %}" height="250" width="100%"/>
            </div>
            <p>Administre los usuarios del sistema, incluyendo permisos e información personal.</p>
            <div class="d-flex justify-content-end">
              <a href="{% url "admin_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
            </div>
            
          </div>
        </div>
    
      {% endif %}
      {% if request.user|has_group:"gestor" %}
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Clientes</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/customers.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestione todos sus clientes.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "customer_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Destinatarios</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/addressees.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestionar destinatarios de sus clientes.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "addressee_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Paquetes</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/packages.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestionar paquetes de sus clientes.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "packages_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Envíos</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/order_in_proccess.svg" %}" height="250" width="100%"/>
          </div>
          <p>Gestionar el proceso de envíos.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "orders_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 bg-body-tertiary border rounded-3">
          <h2>Envíos entregados</h2>
          <div class="mb-2 flex justify-content-center w-100">
          <img src="{% static "img/order_success.svg" %}" height="250" width="100%"/>
          </div>
          <p>Detalle de los envíos realizados.</p>
          <div class="d-flex justify-content-end">
            <a href="{% url "orders_successfull_views" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
        </div>
        </div>
      </div>
      
      
      {% endif %}
      {% if request.user|has_group:"repartidor"%}
        <div class="col">
          <div class="h-100 p-3 bg-body-tertiary border rounded-3">
            <h2>Repartidores</h2>
            <div class="mb-2 flex justify-content-center w-100">
            <img src="{% static "img/messenger.svg" %}" height="250" width="100%"/>
            </div>
            <p>Compelte la entrega de los pedidos que ha escogido.</p>
            <div class="d-flex justify-content-end">
              <a href="{% url "delivery_packages_view" %}" class="btn btn-primary fw-bold" type="button">Ver más</a>
            </div>
            
          </div>
        </div>
    
      {% endif %}

  </div>
  
  
 
{% endblock contend %}

        
